<div>
  <p>Tipo de propiedad: <%= @property.property_types %></p>
  <p>Precio: $ <%= @property.price %></p>
  <p>Moneda: <%= @property.currencies %></p>
  <p>Comuna: <%= @property.community_name %></p>
  <p>Direccion: <%= @property.address %></p>
  <p>Metros cuadrados: <%= @property.area %> mts</p>
  <p>Nro Habitaciones: <%= @property.nro_rooms %></p>
  <p>Nro Baños: <%= @property.nro_bathrooms %></p>
  <p>Descripcion: <%= @property.description %></p>
</div>